:root {
  --second-text-color: #737373;
  --text-color: #252b42;
  --primary-color: #ff7b47;
  --white-color: #ffffff;
  --secondary-color: #0d5c63;
  --dark-bg-color: #252b42;
  --grey-bg-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: var(--grey-bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

._container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  ._container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  ._container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  ._container {
    width: 1076px;
  }
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._main {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  text-align: center;
}

.section__text {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: inherit;
  line-height: 143%;
  text-align: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

.header__logo {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-left: 80px;
  }
}
@media screen and (min-width: 992px) {
  .header__nav {
    margin-left: 133px;
  }
}

.nav__item {
  margin-right: 21px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 171%;
  color: var(--second-text-color);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  border-bottom: 1px solid var(--primary-color);
}
.nav__link.current {
  border-bottom: 1px solid var(--primary-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: inherit;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  padding-top: 184px;
  padding-bottom: 191px;
}
.hero__content > *:not(:last-child) {
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 400px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 138%;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 58px;
  }
}

.hero__text {
  font-size: 16px;
  line-height: 150%;
  color: var(--second-text-color);
}
@media screen and (min-width: 480px) {
  .hero__text {
    font-size: 20px;
  }
}

.hero__list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .hero__item-btn {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 480px) {
  .hero__item-btn:not(:last-child) {
    margin-right: 10px;
  }
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  min-height: 48px;
  padding: 10px 36px 10px 36px;
  font-weight: 700;
  line-height: 120%;
}
.hero__btn.hero__btn--orange {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn.hero__btn--orange:hover {
  opacity: 0.8;
}
.hero__btn.hero__btn--border {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: opacity, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn.hero__btn--border:hover {
  background-color: var(--white-color);
  opacity: 0.9;
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 793px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1300px) {
  .hero__img img {
    object-position: right;
  }
}
@media screen and (max-width: 790px) {
  .hero__img img {
    object-position: right;
    opacity: 0.5;
  }
}
.services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

@media screen and (min-width: 1200px) {
  .services__list {
    display: flex;
    margin-right: -30px;
  }
}

.services__item {
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .services__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.services__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 40px;
  background-color: var(--white-color);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover {
  background-color: var(--secondary-color);
}
.services__link:hover .services__subtitle {
  color: var(--white-color);
}
.services__link:hover .services__text {
  color: var(--white-color);
  fill: var(--white-color);
}
.services__link:hover .services__icon {
  fill: var(--white-color);
}

.services__icon {
  fill: var(--secondary-color);
  margin-bottom: 10px;
}

.services__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

.services__text {
  line-height: 143%;
  color: var(--second-text-color);
}

.experience {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 480px) {
  .experience__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.experience__item {
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-color);
}
.experience__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.experience__item svg {
  fill: var(--secondary-color);
}
@media screen and (min-width: 480px) {
  .experience__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .experience__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.experience__block {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  color: var(--text-color);
}

.experience__subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--second-text-color);
}

.advice {
  padding-top: 125px;
  padding-bottom: 81px;
}

.advice__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .advice__list {
    gap: 40px;
  }
}

.advice__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
}
@media screen and (min-width: 480px) {
  .advice__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advice__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advice__text-wrapper {
  flex: 1 1 auto;
  padding: 30px;
}
@media screen and (max-width: 1200px) {
  .advice__text-wrapper {
    text-align: center;
  }
}

.advice__link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.advice__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

.advice__subtext {
  margin-bottom: 30px;
  line-height: 143%;
  color: var(--second-text-color);
}

.advice__link-img {
  display: block;
}

.advice__img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */