.section__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  text-align: center;
}
.section__text {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: inherit;
  line-height: 143%;
  text-align: center;
}
