.experience {
  padding-top: 80px;
  padding-bottom: 80px;
}

.experience__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.experience__item {
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  background-color: var(--white-color);

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  & svg {
    fill: var(--secondary-color);
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.experience__block {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  color: var(--text-color);
}
.experience__subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--second-text-color);
}
