:root {
  --second-text-color: #737373;
  --text-color: #252b42;
  --primary-color: #ff7b47;
  --white-color: #ffffff;
  --secondary-color: #0d5c63;
  --dark-bg-color: #252b42;
  --grey-bg-color: #fafafa;
}
